{# @var data array<mixed> #}
<table>
    <thead>
    <tr>
        <th scope="col" style="width: 25%">Key</th>
        <th scope="col" style="width: 75%">Value</th>
    </tr>
    </thead>
    <tbody>
    {% for key, value in data %}
        <tr>
            <th>{{ key }}</th>
            <td><pre>{{ profiler_dump(value) }}</pre></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
